<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>
<div>
    <button type="button" ng-click="tabChange('my-group')" class="btn table-menu pos-table-group-btn" style="margin-right: 5px;">
        <i class="glyphicon glyphicon-list"></i> My group
    </button>
    <button type="button" ng-click="tabChange('my-event')" class="btn table-menu pos-table-group-btn" style="margin-right: 5px;">
        <i class="glyphicon glyphicon-list"></i> My event
    </button>
    <button type="button" ng-click="tabChange('request-pending')" class="btn table-menu pos-table-group-btn">
        <i class="glyphicon glyphicon-list"></i> Request pending
    </button>
    <table st-pipe="callService" st-table="rowCollection" class="table table-striped" style="color: #483838;">
        <thead>
            <tr style="color: #FFF;">
                <th st-sort="no">#</th>
                <th st-sort="group_name">Group name</th>
                <th st-sort="created_by">Created by</th>
                <th st-sort="created_datetime">Created datetime</th>
                <th st-sort="memebers">Members</th>
            </tr>
            <tr>
                <th colspan="6"><input st-search="" class="form-control" placeholder='Search by "Group name" or "Created by"' type="text" /></th>
            </tr>
        </thead>
        <tbody ng-show="!isLoading">
            <tr ng-repeat="row in rowCollection track by $index">
                <td>{{$index + 1}}</td>
                <td>{{row.group_name}}</td>
                <td>{{row.created_by}}</td>
                <td>{{row.created_datetime}}</td>
                <td>{{row.members}}</td>
                <td>
                    <button class="btn btn-sm btn-play-access fa fa-sign-in" ng-click="intoGroup(row.id)">
                        <md-tooltip md-direction="left">Click for into the group</md-tooltip>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="isLoading">
            <tr>
                <td colspan="6" class="text-center">
                    <div class="loading-indicator"></div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #102b12;">
                <td colspan="6" class="text-center">
                    <div st-items-by-page="5" st-pagination="" st-displayed-pages="numberOfPages" st-template="resources/template/pagination.template.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>