<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>
<button type="button" ng-click="backToOverview()" class="btn pos-table-group-btn">
    <i class="fa fa-mail-reply"></i>
    Back
</button>
<div class="container-custom">
    <div class="container-fluid game-content">
        <div class="row">
            <div class="col-md-5">
                <div class="control-fieldset">
                    <h4 class="color-black font-bold">Invite by Email</h4>
                    <form id="inviteForm" name="inviteForm" ng-submit="inviteByEmailFn()">
                        <div class="form-group">
                            <div class='input-group'>
                                <input ng-model="inviteByEmail" type='email' class="form-control" required />
                                <a onclick="return false;" href="#" type="button" ng-disabled="inviteForm.$invalid" ng-click="inviteByEmailFn()" style="cursor: pointer;" class="input-group-addon">
                                    <span class="fa fa-send"></span>
                                </a>
                            </div>
                        </div>
                    </form>
                    <form id="descriptionForm" name="descriptionForm" ng-submit="descriptionUpdateFn()">
                        <div class="form-group" ng-class="{'padding-bottom-40px': isOwner}">
                            <label>Description</label>
                            <span ng-if="isOwner">
                                <textarea placeholder="{{game.description ? '' : 'Type your game description.'}}" ng-model="game.description" rows="5" class="form-control" style="resize: none;">{{game.description}}</textarea>
                            </span>
                            <p ng-if="!isOwner">{{game.description || "-"}}</p>
                            <button ng-if="isOwner" class="btn btn-primary pull-right" style="margin-top: 10px;" type="submit" ng-submit="descriptUpdate()" onsubmit="return false;">Save</button>
                        </div>
                    </form>
                    <!-- <form>
                        <div class="checkbox">
                            <label>
                                <input name="game-strict" id="game-strict" type="checkbox" value="strict" /> Strict
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="notification" id="notification" type="checkbox" /> Notification
                            </label>
                            <ul class="list-style-none">
                                <li>
                                    <label>
                                        <input name="noti-email" id="noti-email" type="checkbox" value="email" /> Email
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="noti-inbox" id="noti-inbox" type="checkbox" value="inbox" /> Inbox
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Finish date:</label>
                            <div class='input-group date'>
                                <input ng-model="finishDatetime" type='text' class="form-control finishDatetime" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group text-right form-group-bt-5">
                            <button type="button" class="btn btn-default">Save</button>
                        </div>
                    </form> -->
                </div>
            </div>
            <div class="col-md-7 text-right-resp">
                <div class="font-size-14px">
                    <div>
                        <h1 class="form-signin-heading-h1-cartoon text-center" style="color: #CC0000; font-size: 80px;">
                            <!-- <test data="{{currentTab}}"></test> -->
                            <span>{{room_name}}</span>
                            <span ng-click="reload()" style="font-size: 25px; color: #797373;" class="top-right btn-hover fa fa-refresh"></span>
                        </h1>
                        <!-- <h3 class="form-signin-heading-h4-cartoon text-center">2Christmas 3 isn't a season. It's a feeling.9</h3> -->
                    </div>
                    <div style="margin-top: 30px; text-align: right;">
                        <div>Created by <label style="font-style: italic;">{{created_by}}</label></div>
                        <div>Created at <label style="font-style: italic;">{{created_at | date: 'EEE, dd MMM yyyy HH:mm:ss'}}</label></div>
                        <div>Status <label style="font-style: italic;">{{groupStatus | uppercase}}</label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="font-bold color-black" style="margin-bottom: 20px;">Players ready: {{ready.total}}/{{players.length}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="height-250px overflow-auto">
                            <table class="full-height table table-bordered table-striped font-size-14px" style="color: #483838;">
                                <thead>
                                    <tr style="color: #FFF;">
                                        <th>#</th>
                                        <th>Player</th>
                                        <th class="text-center">Keyword</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody ng-show="!isPlayersEmpty">
                                    <tr ng-repeat="row in players track by $index">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.player}}</td>
                                        <td class="text-center">{{row.player_stts=='yes'?'Ready':'Empty'}}</td>
                                        <!-- <td ng-if="row.player == $root.user.username && row.player_stts=='yes'" 
                                            class="text-center">Ready</td>
                                        <td ng-if="row.player == $root.user.username && row.player_stts=='no'" 
                                            class="text-center">
                                            <button style="text-decoration: underline;" type='button' class='btn btn-sm btn-link' ng-click='keyword()'>keyword</button>
                                        </td> -->
                                        <td class="text-center">
                                            <button ng-if="row.username == $root.user.username && groupStatus == 'ready'" ng-click="keywordForm()" style="padding: 0px;" class="btn btn-link">
                                            <!-- <button ng-if="row.player == ($root.user.firstname + ' ' + $root.user.lastname) && groupStatus == 'ready'" 
                                            ng-click="keywordForm()" style="padding: 0px;" class="btn btn-link"> -->
                                                <i class="fa fa-edit color-black" style="font-size: 18px;"></i>
                                            </button>
                                            <button ng-if="row.username ==  $root.user.username && groupStatus != 'ready'" ng-click="getKeyword()" style="padding: 0px;" class="btn btn-link">
                                                    <i class="fa fa-eye color-black" style="font-size: 18px;"></i>
                                                </button>
                                            <!-- <span ng-if="groupStatus == 'finished'" class="btn btn-link" style="color: #483838;">
                                                keyword: <u style="text-decoration: none; font-weight: bold; color: #000;">{{row.provider_keyword}}</u>, 
                                                owner: <u style="text-decoration: none; font-weight: bold; color: #000;">{{row.provider}}</u>
                                            </span>     -->

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="isPlayersEmpty">
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <i>Empty</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-4">
                        <h4 class="font-bold color-black" style="margin-bottom: 20px;">Game requests</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-8">
                        <h4 class="font-bold color-black" style="margin-bottom: 20px;">
                            <button class="pull-right btn btn-default btn-sm" ng-disabled="created_by != ($root.user.firstname + ' ' + $root.user.lastname) || groupStatus=='finished' || requests.length == 0" ng-click="rejectAll(room_name)">Reject all</button>
                            <button class="pull-right btn btn-success btn-sm" ng-disabled="created_by != ($root.user.firstname + ' ' + $root.user.lastname) || groupStatus=='finished' || requests.length == 0" ng-click="acceptAll(room_name)" style="margin-right: 5px;">Accept all</button>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="height-250px overflow-auto">
                            <table class="full-height table table-bordered table-striped font-size-14px" style="background-color: #c75f59; color: #483838;">
                                <thead>
                                    <tr style="color: #FFF;">
                                        <th>#</th>
                                        <th>Player</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody ng-show="!isRequestsEmpty">
                                    <tr ng-repeat="row in requests track by $index">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.player}}</td>
                                        <td class="text-center">
                                            <button class="btn btn-success btn-sm" ng-disabled="created_by != ($root.user.firstname + ' ' + $root.user.lastname) || groupStatus=='finished'" ng-click="accept(room_name, row.user_id, row.player)" type="button">Accept</button>
                                            <button class="btn btn-default btn-sm" ng-disabled="created_by != ($root.user.firstname + ' ' + $root.user.lastname) || groupStatus=='finished'" ng-click="reject(room_name, row.user_id, row.player)" type="button">Reject</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="isRequestsEmpty">
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <i>Empty</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <button ng-disabled="ready!=players.length && ($root.user.firstname + ' ' + $root.user.lastname)!=created_by || afterRandom" ng-click="randomStart()"
                    ng-if="groupStatus=='ready'" class="btn btn-lg btn-play-game" type="button">
                        <i class="fa fa-play"></i>
                        RANDOM
                    </button> -->
                <!-- <button ng-if="groupStatus=='ready' && ($root.user.firstname + ' ' + $root.user.lastname)==created_by " ng-click="randomStart()"
                    ng-disabled="players.length < 3 || ready.total!=players.length || groupStatus!='ready'" class="btn btn-lg btn-play-game" type="button">
                        <i class="fa fa-play"></i>
                        RANDOM
                    </button>  -->
                <!-- fixed ***remart remove players.length < 3 -->
                <button ng-if="groupStatus=='ready' && ($root.user.firstname + ' ' + $root.user.lastname)==created_by" ng-click="randomStart()" ng-disabled="game.leaderData.player_stts == 'no' || ready.total < 3 || groupStatus!='ready'" class="btn btn-lg btn-play-game"
                    type="button">
                        <i class="fa fa-play"></i>
                        RANDOM
                    </button>
                <!-- <button ng-if="groupStatus=='ready' && ($root.user.firstname + ' ' + $root.user.lastname)==created_by " ng-click="randomStart()"
                        ng-disabled="players.length < 3 || groupStatus!='ready'" class="btn btn-lg btn-play-game" type="button">
                        <i class="fa fa-play"></i>
                        RANDOM
                    </button> -->
                <button ng-if="groupStatus=='started' && ($root.user.firstname + ' ' + $root.user.lastname)==created_by" class="btn btn-lg btn-finish-game" ng-click="randomFinish()" type="button">
                        <i class="fa fa-stop"></i>
                        FINISH
                    </button>
                <!-- <button ng-if="groupStatus!='finished'" ng-disabled="created_by != $root.user.username" class="btn btn-success btn-lg" type="button" ng-click="">
                    <i class="fa fa-play"></i>
                    PLAY
                </button>
                <button ng-if="groupStatus=='finished'" disabled="disabled" class="btn btn-default btn-lg" type="button" ng-click="">
                    FINISHED
                </button> -->
            </div>
        </div>
    </div>
</div>