<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>
<form class="form-signin" name="myform">
    <label class="sr-only">Keyword</label>
    <div growl></div>
    <p>(*max length 256char.)</p>
    <textarea placeholder="Please insert Keyword" name="keyword" class="form-control" rows="8" placeholder="Keyword" ng-model="keyword" ng-disabled="button" ng-required="true" ng-init="button=true"></textarea>
    <p id="receiveKeyword">receive : </p>
    <br>
    <button class="btn btn-md btn-green" type="submit" ng-click="button=false" ng-hide="mode==='Add'" ng-show="mode==='Save'">enable
		edit</button>
    <button class="btn btn-md btn-success" type="submit" ng-click="myform.$valid&&addOrEditKeyword()">SAVE</button>
    <button class="btn btn-md btn-default" type="submit" ng-click="clear()">Clear
		All</button>
</form>