<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>
<div class="overflow-y-auto overflow-x-auto" style="margin-top: 30px;">

    <table st-pipe="callService" st-table="rowCollection" class="table table-striped" style="color: #483838;">
        <caption style="padding: 0px; color: #ccc; width: 100%;">
            <st-group-filter class="group-radio" style=" width: 100%;" filter="groupFilter"></st-group-filter>
            <button style="margin-top: 20px;" ng-hide="$root.user.role=='ADMIN'" type="button" ng-click="createGroupPopup()" class="btn pos-table-group-btn margin-right-20px">
                    <i class="glyphicon glyphicon-plus"></i>
                    Create game
            </button>
        </caption>
        <thead>
            <tr style="color: #FFF;">
                <th>#</th>
                <th st-sort="group_name">Game</th>
                <th st-sort="created_by">Created by</th>
                <th st-sort="created_datetime">Created at</th>
                <th>Players</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th colspan="7"><input st-search="" class="form-control" placeholder='Search by "Game" or "Created by"' type="text" /></th>
            </tr>
        </thead>
        <tbody ng-show="!isLoading">
            <tr ng-repeat="row in rowCollection">
                <td>{{row.no}}</td>
                <td>{{row.group_name}}</td>
                <td>{{row.created_by}}</td>
                <td>{{row.created_datetime | date: 'EEE, dd MMM yyyy HH:mm:ss'}}</td>
                <td>{{row.players}}</td>
                <td><strong>{{row.group_status | uppercase}}</strong></td>
                <td>

                    <button ng-click="showDescription(row.no)" class="btn btn-sm btn-default fa fa-info" style="margin-right: 10px;">
                        <md-tooltip md-direction="left">Click for view description</md-tooltip>
                    </button>

                    <button ng-if="row.user_status=='requested' && $root.user.role!='ADMIN'" class="btn btn-sm btn-warning fa fa-hourglass-half">
                        <md-tooltip md-direction="left">Requested</md-tooltip>
                    </button>

                    <button ng-if="(['leadership', 'membership'].indexOf(row.user_status) > -1 || $root.user.role=='ADMIN')" ng-click="accessGroup(row.group_name, row.group_status)" class="btn btn-sm fa" ng-class="{'btn-play-access fa-sign-in':row.group_status=='ready'||row.group_status=='started', 
                            'bg-color-custom-blue color-white fa-eye':row.group_status=='finished'}">
                        <md-tooltip md-direction="left">{{row.group_status=="ready" || row.group_status=="started" ? "Click to play" : "Click to view"}}</md-tooltip>
                    </button>

                    <button ng-if="row.user_status=='requestable' && row.group_status=='ready'" ng-hide="$root.user.role=='ADMIN'" ng-click="requestGroupPopup(row.group_name)" class="btn btn-sm btn-success fa fa-send">
                        <md-tooltip md-direction="left">Click for request</md-tooltip>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="isLoading">
            <tr>
                <td colspan="7" class="text-center">
                    <div class="loading-indicator"></div>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="rowCollection.length==0 && !isLoading">
            <tr>
                <td colspan="7" class="text-center">
                    <div style="font-style: italic;">Empty</div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #102b12;">
                <td colspan="7" class="text-center">
                    <div st-items-by-page="5" st-pagination="" st-displayed-pages="numberOfPages" st-template="resources/template/pagination.template.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>