<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a
	season. It's a feeling.9</h3>

<link href="resources/css/gift.css" rel="stylesheet">
<div class="table-responsive">
	<table class="table table-striped table-hover" id="uploadsTable">
		<thead>
			<tr>
				<th></th>
				<th>Username</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th class="text-center">Added Keyword</th>
				<th class="text-center"><i class="fa fa-cog" aria-hidden="true"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="userData in data | orderBy:'keywordFlag'">
				<td>{{$index+1}}</td>
				<td>{{userData.username}}</td>
				<td>{{userData.firstName}}</td>
				<td>{{userData.lastName}}</td>
				<td class="text-center"
					ng-style="userData.keywordFlag == 'N' && {'color': '#8e1b18','font-weight':'bold'} ||
                  userData.keywordFlag == 'Y' && {'color': '#FFC113','font-weight':'bold'}">{{userData.keywordFlag}}</td>
				<td class="text-center">
					<button name="delete" ng-click="delete(userData.userId)"
						type="button" class="btn btn-sm btn-danger">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div style="text-align: center;">
	<form class="form-signin">
		<div class="gift">
			<div class="gift-top"></div>
			<div class="gift-box">
				<button class="btn btn-md btn-success btn-block" type="submit"
					ng-disabled="keyNo==true" ng-click="random()" data-toggle="modal"
					data-target="#successModal">RANDOM</button>
				<button id="finish" class="btn btn-md btn-success btn-block" ng-click="finish()" style="display: none;" type="submit">FINISH</button>
			</div>
		</div>
	</form>
	<label style="margin-left: 20px; display: none;" id="started">Started</label>
</div>


<div class="modal fade" id="successModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header"></div>
			<div class="modal-body">
				<p class="message-keyword">Loading... all the keywords that are
					sending results.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

