<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>

<section id="registration" class="container">
    <form class="center" role="form" name="settingForm">
        <div growl></div>
        <!-- <fieldset class="registration-form" style="text-align: left;">
            <div class="form-group" style="margin-top: 10px; margin-bottom: 5px;">
                <label for="firstname" style="color: #34495e;" class="font-normal">Firstname</label>
                <input style="margin-bottom: 5px;" type="text" class="form-control" ng-model="firstname" 
                    placeholder="Firstname" id="firstname" name="firstname" required="required" />

                <label for="lastname" style="color: #34495e;" class="font-normal">Lastname</label>
                <input type="text" class="form-control" ng-model="lastname" placeholder="Lastname" 
                    name="lastname" required="required" />
            </div>
        </fieldset> -->
        <fieldset class="registration-form" style="text-align: left;">

            <form class="center" role="form" name="infoForm">
                <span style="color: #34495e;">Hi, {{$root.user.firstname}} {{$root.user.lastname}}</span>
                <div class="form-group" style="margin-top: 10px; margin-bottom: 5px;">
                    <label for="firstname" style="color: #34495e;" class="font-normal">Firstname</label>
                    <input style="margin-bottom: 5px;" type="text" class="form-control" ng-model="firstname" 
                        placeholder="Firstname" id="firstname" name="firstname" required="required" />

                    <label for="lastname" style="color: #34495e;" class="font-normal">Lastname</label>
                    <input type="text" class="form-control" ng-model="lastname" placeholder="Lastname" 
                        name="lastname" required="required" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-md btn-block" type="submit" 
                        ng-click="changePwd(undefined, undefined, firstname, lastname)" 
                        ng-disabled="false">
                        Update your name
                    </button>
                </div>
            </form>
            
            <hr/>

            <form class="center" role="form" name="settingForm">
                <div class="form-group" style="margin-top: 10px; margin-bottom: 5px;">
                    <input style="margin-bottom: 5px;" type="password" class="form-control" ng-model="old_password" 
                        placeholder="Old password" name="old_password" required="required" />
                    <input type="password" class="form-control" ng-model="new_password" placeholder="New password" name="new_password" required="required"
                        ng-minlength="6" />
                    <p style="font-size: 13px; margin: 0px; color:#8b0000;">*minimum 6 letters.</p>
                    <div ng-if="settingForm.new_password.$touched || signupSubmitted">
                        <p class="red-checkpass" ng-show="settingForm.new_password.$error.required" class="help-block">Password is required</p>
                        <p class="red-checkpass" ng-show="settingForm.new_password.$error.minlength" class="help-block">Minimum 6 character</p>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <input type="password" class="form-control" name="confirm_password" ng-disabled="settingForm.new_password.$error.minlength||settingForm.new_password.$error.required"
                        ng-model="confirm_password" placeholder="Confirm password" match-password="new_password" required>
                    <div ng-if="settingForm.confirm_password.$touched || signupSubmitted">
                        <p class="red-checkpass" ng-show="settingForm.confirm_password.$error.required" class="help-block">Confirm password is required</p>
                        <p class="red-checkpass" ng-show="settingForm.confirm_password.$error.matchPassword && !settingForm.confirm_password.$error.required"
                            class="help-block">Confirm password didn't match</p>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-md btn-block" type="submit" ng-click="changePwd(new_password, old_password, undefined, undefined)" 
                    ng-disabled="(settingForm.confirm_password.$error.matchPassword && !settingForm.confirm_password.$error.required)||settingForm.confirm_password.$error.required">
                    Change your password</button>
                </div>
            </form>

        </fieldset>
    </form>
</section>