<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>
<section id="registration" class="container">
    <form class="center" role="form" name="signupForm">
        <div growl></div>
        <fieldset class="registration-form" style="max-width: 280px;">
            <div class="form-group">
                <input type="text" id="email" name="email" ng-keyup="keyUpCheckEmail()" placeholder="E-mail" class="form-control" ng-model="user.email" required autofocus />
                <p style="color: red">{{emailValid}}</p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="user.password" placeholder="Password" name="password" required="required" ng-minlength="6" />
                <p>*(Minimum 6 char.)</p>
                <div ng-if="signupForm.password.$touched || signupSubmitted">
                    <p class="red-checkpass" ng-show="signupForm.password.$error.required" class="help-block">Password is required</p>
                    <p class="red-checkpass" ng-show="signupForm.password.$error.minlength" class="help-block">Minimum 6 character</p>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" ng-disabled="signupForm.password.$error.minlength||signupForm.password.$error.required" ng-model="confirm_password" placeholder="Confirm password" match-password="user.password" required>
                <div ng-if="signupForm.confirm_password.$touched || signupSubmitted">
                    <p class="red-checkpass" ng-show="signupForm.confirm_password.$error.required" class="help-block">Confirm password is required</p>
                    <p class="red-checkpass" ng-show="signupForm.confirm_password.$error.matchPassword && !signupForm.confirm_password.$error.required" class="help-block">Confirm password didn't match</p>
                </div>
            </div>

            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Name" class="form-control" ng-model="user.name" required>
                <span style="color: red">required</span>
            </div>
            <div class="form-group">
                <input type="text" id="lastname" name="lastname" placeholder="Lastname" class="form-control" ng-model="user.lastName" required>
                <span style="color: red">required</span>
            </div>
            <!-- <div class="form-group">
                <div class="g-recaptcha" style="transform:scale(0.79);-webkit-transform:scale(0.79);
                transform-origin:0 0;-webkit-transform-origin:0 0;" data-sitekey="6LdOtjoUAAAAANnS0WXy9KN8hg83z0ZcI1NYyK8T" data-callback="setResponse"></div>
            </div> -->
            <div class="form-group">
                <div class="g-recaptcha" style="transform:scale(0.79);-webkit-transform:scale(0.79);
                transform-origin:0 0;-webkit-transform-origin:0 0;" vc-recaptcha key="siteKey" lang="th" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-md btn-block" ng-click="signup()" ng-disabled="!signupForm.$valid || !allowSignup && (signupForm.confirm_password.$error.matchPassword && !signupForm.confirm_password.$error.required)||signupForm.confirm_password.$error.required">Sign up</button>
            </div>
        </fieldset>
    </form>
</section>