<h1 class="form-signin-heading-h1 text-center">Christmas Random</h1>
<h3 class="form-signin-heading-h4 text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>

<form class="form-signin">
	<h4 class="error-color">{{statusLogin}}</h4>
	<div growl></div>
	<label for="inputEmail" class="sr-only">Email address</label>
	<input style="margin-bottom: 5px;" type="text" id="inputEmail" ng-change="keyUpCheckEmail()" 
		class="form-control" placeholder="Email address"	required autofocus ng-model="user.username" />
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" 
		required ng-model="user.password" />
	<div>
		<a ng-click="forgotPasswordPopup()" style="cursor: pointer; margin-bottom: 10px;">Forgot password</a>
		<a href="#!/signup" class="pull-right" style="margin-bottom: 10px;">Sign Up</a>
	</div>
	<button id="signinBtn" name="signinBtn" class="btn btn-lg btn-success btn-block" type="submit" ng-click="signin()" ng-disabled="!allowLogin">Sign in</button>
</form>