<div id="room-element" style="display: none;">
    <div class="container-fluid game-content">
        <div class="row">
            <div class="col-md-5">
                <div class="control-fieldset">
                    <h4 class="font-bold">CONTROL</h4>
                    <form>
                        <div class="checkbox">
                            <label>
                                <input name="game-strict" id="game-strict" type="checkbox" value="strict" /> Strict
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="notification" id="notification" type="checkbox" /> Notification
                            </label>
                            <ul class="list-style-none">
                                <li>
                                    <label>
                                        <input name="noti-email" id="noti-email" type="checkbox" value="email" /> Email
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="noti-inbox" id="noti-inbox" type="checkbox" value="inbox" /> Inbox
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Finish date:</label>
                            <div class='input-group date'>
                                <input ng-model="finishDatetime" type='text' class="form-control finishDatetime" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group text-right form-group-bt-5">
                            <button type="button" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-7 text-right-resp">
                <div class="font-size-14px">
                    <div>
                        <h1 class="form-signin-heading-h1-cartoon text-center" style="color: #CC0000; font-size: 80px;">
                            <!-- <test data="{{currentTab}}"></test> -->
                        <span>{{roomName}}</span>
                        <span style="font-size: 25px; color: #797373;" class="btn-hover pull-right fa fa-refresh"></span></h1>
                        <h3 class="form-signin-heading-h4-cartoon text-center">2Christmas 3 isn't a season. It's a feeling.9</h3>
                    </div>
                    <div style="margin-top: 30px;">
                        <div>Created by ...</div>
                        <div>Created at ...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="font-bold" style="margin-bottom: 20px;">Players ready: 5/5</h4>
                <div class="height-250px overflow-auto">
                    <table class=".playerTb full-height table table-bordered table-striped font-size-14px" style="color: #483838;">
                        <thead>
                            <tr style="color: #FFF;">
                                <th>#</th>
                                <th>Player</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody ng-show="true">
                            <!-- <tr ng-repeat="row in rowPlayersCollection track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{row.player}}</td>
                                <td>{{row.player_stts=='yes'?'Ready':''}}</td>
                            </tr> -->
                        </tbody>
                        <tbody ng-show="isLoadingPopup">
                            <tr>
                                <td colspan="6" class="text-center">
                                    <div class="loading-indicator"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="font-bold" style="margin-bottom: 20px;">Game requests <button class="pull-right btn btn-success btn-sm">Accept all</button></h4>
                
                <div class="height-250px overflow-auto">
                        <table st-pipe="callService" st-table="rowCollection" class="full-height table table-bordered table-striped font-size-14px" style="background-color: #c75f59; color: #483838;">
                            <thead>
                                <tr style="color: #FFF;">
                                    <th st-sort="no">#</th>
                                    <th st-sort="group_name">Player</th>
                                    <th st-sort="created_by"></th>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in rowCollection track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{row.group_name}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-success btn-sm" type="button">Accept</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="6" class="text-center">
                                        <div class="loading-indicator"></div>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- <tfoot>
                                <tr style="background-color: #022a2c;">
                                    <td colspan="6" class="text-center">
                                        <div st-items-by-page="5" st-pagination="" st-displayed-pages="numberOfPages" st-template="resources/template/pagination.template.html"></div>
                                    </td>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
