<ul ng-controller="MenuController as menuCtrl" class="nav navbar-nav navbar-right">
    <li><a href="" style="text-align: right; font-weight: normal; cursor: default;">{{$root.user.username ? 'Hi, ' + $root.user.firstname + '&nbsp;' + $root.user.lastname: ''}}</a></li>
    <li style="text-align: center;" ng-show="$root.user.role == 'ADMIN' || $root.user.role == 'USER'"><a href="#!/overview" class="xmas-menu">Game</a></li>
    <li style="text-align: center;" ng-show="$root.user.role == 'ADMIN' || $root.user.role == 'USER'"><a href="#!/settings" class="xmas-menu">Setting</a></li>
    <li style="text-align: center;" ng-show="$root.user.username == undefined">
        <a href="#!/signin" class="xmas-menu"></i>Sign in</a>
    </li>
    <li style="text-align: center;" ng-show="$root.user.role == 'ADMIN' || $root.user.role == 'USER'">
        <a style="text-align: center;" href="" ng-click="signout()">Logout</a>
    </li>
</ul>