.loading-indicator {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.7em;
}

.loading-indicator:before {
    display: inline-block;
    margin: 0 0.4em;
    min-width: 1em;
    min-height: 1em;
    border-top: 4px solid #646464;
    border-right: 4px solid #e6e6e6;
    border-left: 4px solid #e6e6e6;
    border-bottom: 4px solid #646464;
    content: "";
    -webkit-animation: halfspin 1s ease infinite;
    -moz-animation: halfspin 1s ease infinite;
    -o-animation: halfspin 1s ease infinite;
    animation: halfspin 1s ease infinite;
    border-radius: 100%;
}

@-webkit-keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-moz-keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.select-page {
    width: 50px;
    text-align: center;
}

.pagination li a input {
    padding: 0;
    margin: -5px 0;
}

#edit-page:hover {
    color: #337ab7;
}

.pos-table-group-btn-active {
    color: #fff;
    background: repeating-linear-gradient( 45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    border-color: #69141b;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pos-table-group-btn-active:hover {
    color: #fff;
    background-color: #8e1b18;
}

.pos-table-group-btn-active:focus {
    color: #fff;
    border: 0px;
}

.pos-table-group-btn {
    color: #fff;
    background: repeating-linear-gradient(45deg, #b2141d, #b2141d 10px, #c2121f 10px, #c2121f 20px);
    border-color: #69141b;
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pos-table-group-btn:hover {
    color: #fff;
    background-color: #8e1b18;
}

.pos-table-group-btn:focus {
    color: #fff;
    border: 0px;
    outline: none;
}

.btn-play-access {
    color: #fff;
    background: repeating-linear-gradient(45deg, #377b3f, #40902b 10px, #38a924 10px, #46843a 20px);
    border-color: #14420f;
}

.btn-play-access:hover {
    color: #fff;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-play-game {
    color: #FFF;
    background-color: #ce650c;
}

.btn-play-game:hover,
.btn-play-game:focus {
    color: #FFF;
}

.btn-finish-game {
    color: #FFF;
    background-color: #8e1111;
}

.btn-finish-game:hover,
.btn-finish-game:focus {
    color: #FFF;
}

.md-tooltip {
    font-size: 12px !important;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.active-menu-global {
    color: #fff;
    background-color: rgba(62, 171, 109, 0.48);
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active-menu-global:hover {
    color: #fff;
    background-color: rgba(62, 171, 109, 0.48);
}

.active-menu-global:focus {
    color: #fff;
    border: 0px;
    outline: none;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.color-black {
    color: #000 !important;
}

.color-white {
    color: #FFF;
}

.text-underline {
    text-decoration-line: underline;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.text-right-impt {
    text-align: right !important;
}

.text-left-impt {
    text-align: left !important;
}

.game-content {
    text-align: left;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
}


/* .swal2-overflow {
    overflow-x: visible;
    overflow-y: visible;
  } */

.control-fieldset {
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    padding: 10px 10px 0px 10px;
    font-size: 15px;
}

.list-style-none {
    list-style-type: none;
    padding-left: 20px;
}

.form-group-bt-5 {
    margin-bottom: 5px;
}

.font-size-14px {
    font-size: 14px;
}

.full-height {
    height: 100%;
}

.margin-bottom-50px {
    margin-bottom: 50px;
}

.margin-right-20px {
    margin-right: 20px;
}

.overflow .height-250px {
    height: 250px;
}

.overflow-auto {
    overflow: auto;
}

.btn-hover:hover {
    cursor: pointer;
    color: #e2dcdc !important;
}

.bg-color-custom-blue {
    border: 1px solid #1e6e96;
    background-color: #208dc3;
}

.bg-color-custom-blue:hover {
    color: #FFF;
}

.container-custom {
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 100px;
    color: #000;
}

.custom-textarea-swal {
    resize: none;
}

.padding-bottom-40px {
    padding-bottom: 40px;
}

.g-recaptcha-tmp {
    transform: scale(0.77);
    transform-origin: 0 0
}

.g-recaptcha div {
    margin: auto auto;
}


/*
.g-recaptcha div .rc-anchor-checkbox-label {
    font-weight: 12px !important;
} */


/* .xdsoft_datetimepicker {
    z-index: 1061 !important;
} */


/* .xdsoft_custom_display {
    display: block !important; 
    position: absolute !important; 
    left: 190px; 
    top: 292px;
} */

.text-position {
    text-align: center;
}

.group-radio {
    float: left;
    text-align: left;
}

@media screen and (min-width:992px) {
    .text-position {
        text-align: right;
    }
}

@media screen and (min-width:768px) {
    .group-radio {
        float: right;
        text-align: right;
    }
}

@media screen and (min-width:992px) {
    .text-right-resp {
        text-align: right;
    }
}