<label class="checkbox-inline margin-right-20px ">
    <input ng-checked="filter=='all-group'" ng-model="customFilter" ng-change="radioFilter()" name="customFilter" type="radio" value="all-group" />
    &nbsp;&nbsp;All
</label>
<label class="checkbox-inline margin-right-20px">
    <input ng-checked="filter=='all-group-objects'" ng-model="customFilter" ng-change="radioFilter()" name="customFilter" type="radio" value="all-group-objects" />
    &nbsp;&nbsp;Owner
</label>
<label class="checkbox-inline margin-right-20px">
    <input ng-checked="filter=='all-group-membership'" ng-model="customFilter" ng-change="radioFilter()" name="customFilter" type="radio" value="all-group-membership" />
    &nbsp;&nbsp;Membership
</label>
<label class="checkbox-inline ">
    <input ng-checked="filter=='all-group-acceptance'" ng-model="customFilter" ng-change="radioFilter()" name="customFilter" type="radio" value="all-group-acceptance" />
    &nbsp;&nbsp;Pending acceptance
</label>
<span ng-click="reload()" style="margin-left: 20px; font-size: 25px; color: #797373;" class="btn-hover fa fa-refresh"></span>